:root {
    --bg-color: #000000;
    --white-text-color: #aaa;
    --white-text-color-highlighted: #fff;
}

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    display: none !important;
}

body {
    overflow-x: hidden;
    background-image: url("content/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main > h1 {
    text-align: center;
}

main > p, a {
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main > p {
    color: white;
}

main > a {
    text-decoration: underline;
    margin: 0.5rem;
    font-size: 2rem;
    color: aquamarine;
}

.hero {
    font-size: 2rem;
    color: white;
}

#video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("content/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index: -1; */
}

.desktop {
    min-width: 20%;
    width: fit-content;
    background-color: #2b2b2b05;
    backdrop-filter: blur(0.5rem);
    transition-duration: 0.5s;
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    max-height: 20%;
    overflow: visible;
    white-space: nowrap;
    animation: fade-in 1.5s ease-in;
    padding: 1rem;
}

.desktop:hover {
    background-color: #1d1d1d3d;
    border: solid 1px rgba(255, 255, 255, 0.2)
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -600%);
}

.images-container {
    margin-top: 20%;
    display: flex;
    z-index: 69;
    position: relative;
}

.left {
    order: 1;
    flex: 1;
}

.right {
    order: 3;
    flex: 1;
}

.images {
    order: 2;
    flex: 5;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;

    padding: 2rem;
}

.images img {
    max-width: 25rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.card {
    background-color: #2b2b2b05;
    backdrop-filter: blur(0.5rem);
    transition-duration: 0.5s;
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    max-height: 20%;
    white-space: nowrap;
    animation: fade-in 1.5s ease-in;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 15rem;
    max-width: 20rem;
    min-height: 15rem;
    word-wrap: break-word;
}

.card h1 {
    margin: 1rem;
}

.card p {
    font-size: 1.5rem;
    white-space: normal;
}

.card-link {
    text-decoration: underline;
    margin: 0.5rem;
    font-size: 2rem;
    color: aquamarine;
}

#pay-now {
    background-color: #3263b6;
    font-size: 1.5rem;
    color: white;
    cursor: not-allowed;
}

.button {
    display: inline;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    border: rgba(255, 255, 255, 0) 1px solid;
    font-weight: 500;
    margin: 1rem;
    cursor: pointer;
}

.center-container {
    text-align: center;
}

.terms-link {
    display: inline;
    color: aquamarine;
    text-decoration: underline;
}

.booking-header {
    margin-bottom: 0 !important;
}

.booking-date {
    font-size: 1.2rem !important;
}

.booking-desc {
    margin-top: 0.5rem !important;
    font-size: 1.5rem !important;
}

.booking-note {
    font-size: 1rem !important;
    white-space: normal;
}

.rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    padding: 1.5rem;
    
    background-color: #2b2b2b05;
    backdrop-filter: blur(0.5rem);
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    white-space: normal;
    /* animation: fade-in 1.5s ease-in; */

    display: none;
}

.rules h1, h2 {
    text-align: center;
}

.fade-in {
    animation: fade-in 0.5s;
}

.fade-out {
    animation: fade-in 0.3s ease-out reverse;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-in-slow {
    0% {
        opacity: 0%;
    }

    40% {
        opacity: 0%
    }

    100% {
        opacity: 100%;
    }
}

@media only screen and (min-width: 300px) and (orientation: portrait) {
    main {
        width: 100%;
    }

    main>p {
        font-size: 2rem;
    }

    main>h1 {
        font-size: 3rem;
    }

    .hero-container {
        display: none;
    }

    .card-container {
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .card {
        max-width: none;
        width: 90%;
        white-space: normal;
        max-height: 100%;
        padding: 2rem;
    }

    .card h1, .booking-header {
        font-size: 6rem;
    }

    .card p {
        font-size: 4rem;
    }

    .booking-date {
        font-size: 3rem !important;
    }

    .booking-desc {
        font-size: 4rem !important;
    }

    .booking-note {
        font-size: 3rem !important;
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 5px;
        border: 2px solid #555;
    }
    
    input[type='checkbox']:checked {
        background: #abd;
    }

    label {
        font-size: 3rem;
    }

    .button {
        font-size: 4rem !important;
    }

    .card-link {
        font-size: 5rem;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .images img {
        max-width: 50rem;
        margin: 3rem;
    }
}